ion-content {
  --background: #f2f2f2;
}
.search-product {
  color: #666666;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Titillium Web', sans-serif;
  box-shadow: 3px 5px 34px -13px rgba(0,0,0,0.75);
}

.search-product ion-icon {
  color: #d9d9d9;
  font-size: 22px;
}
//
ion-searchbar{
  --color: #ffffff;
  --background: #383a3e;
  --placeholder-color: #ffffff;
  --placeholder-font-style: 'Titillium Web', sans-serif;
}
.listTitle{
  color: #000000;
  margin-top: 10px;
  margin-bottom: 10px;
}
.listTitle span{
  font-size: 13px;
  font-weight: bold;
  padding-left: 3px;
  font-family: 'Raleway', sans-serif;
}
ion-item-sliding{
  border-radius: 8px;
  margin-bottom: 13px;
  box-shadow: 1px 3px 15px 0px rgba(179,179,179,1);
}
.listItem{
  --background: #fff;
  white-space: normal;
  border-bottom: 3px solid #919191;
}
.listItem ion-avatar{
  background-color: white;
  box-shadow: -14px 13px 41px -21px rgba(0,0,0,0.98);
}
.itemName{
  color: Black;
  font-family: 'Raleway', sans-serif;
}
.itemAddress{
  color: #333333;
  font-family: 'Titillium Web', sans-serif;
}
.itemDistance{
  color: #737373;
  font-family: 'Titillium Web', sans-serif;
}
.notFound{
  padding: 8px;
  color: #737373;
  text-align: center;
  background-color: #e6e6e6;
  font-family: 'Titillium Web', sans-serif;
}
.searchTitle{
  color: #df9d04;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}
.searchDescription{
  color: #b3b3b3;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}
.itemSwap{
  float: right;
  color: #737373
}
