<ion-header no-shadow no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="light"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!-- fab placed to the top end -->
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" routerLink="/members/cars/new" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid color="primary">
    <ion-row>

      <ion-col size="12" class="carList-titles">
        <h2>Your Cars List</h2>
        <span>
          <ion-icon name="remove"></ion-icon> your cars details help you find the most suitable spare parts shops we can suggest to you.
        </span>
      </ion-col>

      <ion-col size="10" offset="1" class="carList-container" *ngFor ="let car of carsList; let i = index">
        <ion-row>
          <ion-col size="4" offset="7" class="carList-total">Car #{{i+1}}</ion-col>
        </ion-row>
        
        <ion-col size="10" offset="1" class="carList-card">
          <ion-item>
            <ion-label class="carList-brand">
              {{ car.brand }} <span class="carList-model">{{ car.model }}</span>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-row class="carList-details">
                <ion-col size="6"> YEAR <span class="carList-value">{{ car.year }}</span></ion-col>
                <ion-col size="6" class="carList-color"> COLOR <span class="carList-value"><i class="fas fa-circle" [ngStyle]="{'color': car.color}" style="font-size: 3em;"></i></span></ion-col>
              </ion-row>
            </ion-label>
          </ion-item>
        
          <ion-row class="carList-operations">
            <ion-col size="6">
              <ion-button color="medium" expand="full" (click)="updateCar(car.id)" routerDirection="forward"><ion-icon class="" name="create" slot="end"></ion-icon></ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button (click)="presentAlert(car)" color="dark" expand="full"><ion-icon class="" name="trash" slot="end"></ion-icon></ion-button>
            </ion-col>
          </ion-row>
          
        </ion-col>  
      </ion-col>

      <ion-col size="8" offset="2" *ngIf="emptyList" class="emptyList">
        <h6><i class="fas fa-exclamation"></i> You don't have any cars yet !</h6>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
