<ion-header no-shadow no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="light"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!-- fab placed to the top end -->
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" routerLink="/members/cars/new" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid color="primary">
    <ion-row>

      <ion-col size="12" class="carList-titles">
        <h2>Your Cars List</h2>
        <span>
          <ion-icon name="remove"></ion-icon> your cars details help you find the most suitable spare parts shops we can suggest to you.
        </span>
      </ion-col>

      <ion-col size="10" offset="1" class="carList-container">
        <ion-row>
          <ion-col size="4" offset="7" class="carList-total">Total 2</ion-col>
        </ion-row>
        
        <ion-col size="10" offset="1" class="carList-card">
          <ion-item>
            <ion-label class="carList-brand">
              Honda <span class="carList-model">Accord </span>
            </ion-label>
            <!-- <ion-icon class="carList-edit" name="create" slot="end"></ion-icon>
            <ion-icon class="carList-delete" name="trash" slot="end" (click)="presentAlert()"></ion-icon> -->
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-row class="carList-details">
                <ion-col size="6"> YEAR <span class="carList-value">2012</span></ion-col>
                <ion-col size="6" class="carList-color"> COLOR <span class="carList-value">red</span></ion-col>
              </ion-row>
            </ion-label>
          </ion-item>
        
          <ion-row class="carList-operations">
            <ion-col size="6">
              <ion-button color="medium" expand="full" routerLink="/members/cars/edit" routerDirection="forward"><ion-icon class="" name="create" slot="end"></ion-icon></ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button color="dark" expand="full"><ion-icon class="" name="trash" slot="end" (click)="presentAlert()"></ion-icon></ion-button>
            </ion-col>
          </ion-row>
          
        </ion-col>  
      </ion-col>

      <ion-col size="10" offset="1" class="carList-container">

        <ion-col size="10" offset="1" class="carList-card">
          <ion-item>
            <ion-label class="carList-brand">
              Audi <span class="carList-model">A3 Sedan </span>
            </ion-label>
            <!-- <ion-icon class="carList-edit" name="create" slot="end"></ion-icon>
            <ion-icon class="carList-delete" name="trash" slot="end" (click)="presentAlert()"></ion-icon> -->
          </ion-item>
          
          <ion-item>
            <ion-label>
              <ion-row class="carList-details">
                <ion-col size="6"> YEAR <span class="carList-value">2019</span></ion-col>
                <ion-col size="6" class="carList-color"> COLOR <span class="carList-value">black</span></ion-col>
              </ion-row>
            </ion-label>
          </ion-item>

          <ion-row class="carList-operations">
            <ion-col size="6">
              <ion-button color="medium" expand="full" routerLink="/members/cars/edit" routerDirection="forward"><ion-icon class="" name="create" slot="end"></ion-icon></ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button color="dark" expand="full"><ion-icon class="" name="trash" slot="end" (click)="presentAlert()"></ion-icon></ion-button>
            </ion-col>
          </ion-row>

        </ion-col>  

      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
