<ion-header no-shadow no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>

      <ion-col size="3"class="logo-container">
        <div class="station-logo">
          <img src="{{ stationObj.icon }}">
        </div>
      </ion-col>

      <ion-col size="9" class="name-container">
        <ion-row class="station-name"><h3>{{ stationObj.name }}</h3></ion-row>
        <ion-row class="station-rate">
          <ion-col size="4">
            <h5>
              <span *ngFor="let star of rateRange; let i = index">
                <i class="fas fa-star rated" *ngIf="stationObj.google_rate >= (i+1)"></i>
              </span>
              <i class="fas fa-star-half-alt rated" *ngIf="stationObj.google_rate%1!=0"></i>
              <span *ngFor="let star of rateRange; let i = index">
                <i class="far fa-star" *ngIf="stationObj.google_rate <= (i)"></i>
              </span>
            </h5>
          </ion-col>
          <ion-col size="4"><h5>| Google Review</h5></ion-col>
        </ion-row>
        <ion-row class="station-rate">
          <ion-col size="4">
            <h5>
              <span *ngFor="let star of rateRange; let i = index">
                <i class="fas fa-star rated" *ngIf="stationObj.Drivix_rate >= (i+1)"></i>
              </span>
              <i class="fas fa-star-half-alt rated" *ngIf="stationObj.Drivix_rate%1!=0"></i>
              <span *ngFor="let star of rateRange; let i = index">
                <i class="far fa-star" *ngIf="stationObj.Drivix_rate <= (i)"></i>
              </span>
            </h5>
          </ion-col>
          <ion-col size="4"><h5>| Drivix Reviews <span class="label-info">{{ stationObj.num_Drivix_review }}</span></h5></ion-col>
        </ion-row>
        <ion-row class="station-address">
          <h6> <ion-icon name="pin"></ion-icon> {{ stationObj.address }} | {{ stationObj.city }}</h6>
        </ion-row>
      </ion-col>

      <ion-col size="12" class="separator"></ion-col>

      <ion-col size="12" class="station-rating">
        <span class="rate-title">Rate this gas station</span>
        <span>Tell others what you think</span>
      </ion-col>

      <ion-col size="12" class="user-rate">

        <span *ngFor="let star of rateRange; let i = index">
          <ion-icon name="star" size="large" color="primary" *ngIf="rateData.rate >= (i+1)" (click)="submitRating(i+1)"></ion-icon>
        </span>
        <span *ngFor="let star of rateRange; let i = index">
          <ion-icon name="star-outline" size="large" color="medium" *ngIf="rateData.rate <= (i)" (click)="submitRating(i+1)"></ion-icon>
        </span>

      </ion-col>

      <ion-col size="12" class="separator">
      </ion-col>

      <ion-col size="12" (click)="showMapModule(stationObj.lat , stationObj.long)" class="station-map">
        <ion-button  expand="block" color="primary">open in map<i class="far fa-map"></i>
        </ion-button>
      </ion-col>

      <ion-col size="12" class="separator">
      </ion-col>

      <ion-col size="12" color="light">
        <ion-toolbar color="light">
          <ion-segment [(ngModel)]="station" color="tertiary">
            <ion-segment-button href="#petrol" value="petrol">
              <ion-label>Petrol</ion-label>
            </ion-segment-button>
            <ion-segment-button href="#services" value="services">
              <ion-label>Services</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-toolbar>
      </ion-col>

      <ion-col size="12" [ngSwitch]="station" class="station-properties">
        <ion-list *ngSwitchCase="'petrol'">

          <ion-item *ngFor="let service of gasStationPetrol">
            <ion-col size="8" offset="1">
              <label class="petrol-label">{{ replaceDash(service) | titlecase }}</label>
            </ion-col>
            <ion-col size="3" class="property-availability">
              <i class="fas fa-check-circle station-property-available" *ngIf="gasStationPetrol[service] == 1"></i>
              <i class="far fa-times-circle station-property-unavailable" *ngIf="gasStationPetrol[service] == 0"></i>
            </ion-col>
          </ion-item>

        </ion-list>

        <ion-list *ngSwitchCase="'services'">

          <ion-item *ngFor="let service of gasStationServices">
            <ion-col size="8" offset="1">
              <label class="petrol-label">{{ replaceDash(service) | titlecase }}</label>
            </ion-col>
            <ion-col size="3" class="property-availability">
              <i class="fas fa-check-circle station-property-available" *ngIf="stationObj[service] == 1"></i>
              <i class="far fa-times-circle station-property-unavailable" *ngIf="stationObj[service] == 0"></i>
            </ion-col>
          </ion-item>

        </ion-list>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
