.BackBColor[_ngcontent-c2] {
  box-shadow: 1px 1px 1px #00000063;
  color: #fff;
  font-weight: bolder;
  padding: 11px;
  font-size: 26px;
  background-color: #eeab10;
}


ion-header {
  position: absolute;
  top: 5%;
  padding: 0 !important;
}
