<ion-header no-shadow no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/members/menu/spare-parts-shops-list" routerDirection="forward"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>

      <ion-col size="3"class="logo-container">
        <div class="station-logo">
          <img src="https://cdn3.vectorstock.com/i/thumb-large/44/97/car-parts-store-vector-17184497.jpg">
        </div>
      </ion-col>

      <ion-col size="9" class="name-container">
        <ion-row class="station-name"><h3>{{ sparePartsShopObj.name }}</h3></ion-row>
        <ion-row class="station-description"><span style="text-align: left !important;font-size: 14px;">{{ sparePartsShopObj.description.substring(0,150) + ' ... ' }}</span></ion-row>
        <ion-row class="station-rate" *ngIf="sparePartsShopObj.google_rate">
          <ion-col size="6">
            <h5>
              <span *ngFor="let star of rateRange; let i = index">
                <i class="fas fa-star rated" *ngIf="sparePartsShopObj.google_rate >= (i+1)"></i>
              </span>
              <i class="fas fa-star-half-alt rated" *ngIf="sparePartsShopObj.google_rate%1!=0"></i>
              <span *ngFor="let star of rateRange; let i = index">
                <i class="far fa-star" *ngIf="sparePartsShopObj.google_rate <= (i)"></i>
              </span>
            </h5>
          </ion-col>
          <ion-col size="6"><h5>| Google Review</h5></ion-col>
        </ion-row>
        <ion-row class="station-rate">
          <ion-col size="6">
            <h5>
              <span *ngFor="let star of rateRange; let i = index">
                <i class="fas fa-star rated" *ngIf="sparePartsShopObj.Drivix_rate >= (i+1)"></i>
              </span>
              <i class="fas fa-star-half-alt rated" *ngIf="sparePartsShopObj.Drivix_rate%1!=0"></i>
              <span *ngFor="let star of rateRange; let i = index">
                <i class="far fa-star" *ngIf="sparePartsShopObj.Drivix_rate <= (i)"></i>
              </span>
            </h5>
          </ion-col>
          <ion-col size="6"><h5>| Drivix Reviews <span style="position: absolute; top: 0;" class="label-info">{{ sparePartsShopObj.num_Drivix_review }}</span></h5></ion-col>
        </ion-row>
        <ion-row class="station-address" *ngIf="sparePartsShopObj.rolelocation.length > 0">
          <h6> <ion-icon name="pin"></ion-icon> {{ sparePartsShopObj.rolelocation[0].location }} </h6>
        </ion-row>
      </ion-col>

      <ion-col size="12" class="separator"></ion-col>

      <ion-col size="12" class="station-rating">
        <span class="rate-title">Rate this spare parts shop</span>
        <span>Tell others what you think</span>
      </ion-col>

      <ion-col size="12" class="user-rate">

        <span *ngFor="let star of rateRange; let i = index">
          <ion-icon name="star" size="large" color="primary" *ngIf="rateData.stars >= (i+1)"  (click)="submitRating(i+1)"></ion-icon>
        </span>
        <span *ngFor="let star of rateRange; let i = index">
          <ion-icon name="star-outline" size="large" color="medium" *ngIf="rateData.stars <= (i)"  (click)="submitRating(i+1)"></ion-icon>
        </span>

      </ion-col>

      <ion-col size="12" class="separator">
      </ion-col>

      <ion-col size="12" class="station-work">
        <ion-row>

          <ion-col size="12">

            <ion-card class="sparePartsShop-times-card" *ngIf="sparePartsShopObj.workingdays">

              <ion-card-header>
                <ion-card-subtitle><i class="fas fa-calendar-week"></i> Working Times</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content>
                <span class="station-hours">{{ sparePartsShopObj.workingdays }}</span>
              </ion-card-content>

              <ion-card-header>
                <ion-card-subtitle><i class="far fa-clock"></i> working hours from:</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content>
                <span class="station-hours"> {{ sparePartsShopObj.work_from }} - {{ sparePartsShopObj.work_to }} </span>
              </ion-card-content>
            </ion-card>

          </ion-col>

          <ion-col size="12" *ngIf="!sparePartsShopObj.workingdays && !sparePartsShopObj.work_from">
            <span class=""><i class="fas fa-info-circle"></i> No information about working times !</span>
          </ion-col>

        </ion-row>
      </ion-col>

      <ion-col size="12" class="separator">
      </ion-col>

      <ion-col size="12" class="station-map" (click)="showMapModule(sparePartsShopObj.lat , sparePartsShopObj.long)">
        <ion-button expand="block" color="primary">
          open in map
          <ion-icon name="map"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col size="12" class="station-products">
        <ion-button expand="block" color="primary" (click)="openProductsPage(sparePartsShopObj.id)">
          Products
          <ion-icon name="basket"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col size="12" class="img-slider">
        <ion-slides pager="true">

          <ion-slide class="station-img" *ngFor="let img of sparePartsShopObj.roleimgs">
            <img src="{{ img.image }}">
          </ion-slide>

        </ion-slides>
      </ion-col>

      <ion-col size="12" class="separator">
      </ion-col>

      <ion-col size="12" color="light">
        <ion-toolbar color="light">
          <ion-segment [(ngModel)]="sparePartsShop" color="dark">
            <ion-segment-button href="#branch" value="branch">
              <ion-label>Branches</ion-label>
            </ion-segment-button>
            <ion-segment-button href="#contact" value="contact">
              <ion-label>Contact</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-toolbar>
      </ion-col>

      <ion-col size="12" [ngSwitch]="sparePartsShop" class="station-properties">
        <ion-list *ngSwitchCase="'branch'">

          <ion-item *ngFor="let branch of sparePartsShopObj.rolelocation">
            <ion-col size="7">
              <label class="petrol-label">{{ branch.location }}</label>
            </ion-col>
            <ion-col size="4" class="property-availability" >
              <ion-button color="medium">OPEN <ion-icon name="map"></ion-icon></ion-button>
            </ion-col>
          </ion-item>

          <ion-col size="11" offset="1" class="no-sparePartsShop-data" *ngIf="sparePartsShopObj.rolelocation.length < 1">
            <span><i class="fas fa-minus-circle"></i> There is no branchs available.</span>
          </ion-col>

        </ion-list>

        <ion-list *ngSwitchCase="'contact'">

          <ion-item *ngFor="let contact of sparePartsShopObj.rolephone">
            <ion-col size="1" class="property-availability">
              <i class="fas fa-phone-volume"></i>
            </ion-col>
            <ion-col size="11">
              <label class="petrol-label">{{ contact.phone }}</label>
            </ion-col>
          </ion-item>
          <ion-col size="11" offset="1" class="no-sparePartsShop-data" *ngIf="sparePartsShopObj.rolephone.length < 1">
            <span><i class="fas fa-minus-circle"></i> There is no contact information.</span>
          </ion-col>

        </ion-list>
      </ion-col>
      
      <ion-col size="12" class="separator">
      </ion-col>

      <ion-col class="station-comments-section">
        <ion-row>

          <ion-col size="12" class="station-comments-section-title">
            <h5><i class="fas fa-comments"></i> comments</h5>
          </ion-col>

          <ion-item-divider *ngFor="let role_comment of comments; let i = index">

            <ion-col size="12" class="station-comments">

              <ion-row>
                <ion-col size="6">
                  <span class="station-comment-username">{{ role_comment.username }}</span>
                </ion-col>
                <ion-col size="6">
                  <span class="station-comment-time">{{ role_comment.date }}</span>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="9" class="station-comment-content">
                  <span>{{ role_comment.comment }}</span>
                </ion-col>

                <ion-col size="3" class="station-comment-like">
                  <span *ngIf="role_comment.userToken == token" (click)="presentCommentOperationActionSheet(i)"><ion-icon name="more"></ion-icon></span>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="12" class="station-comment-like">
                  <span class="station-comment-estimate station-comment-like" (click)="estimateComment(role_comment, 1, i)"><i class="fas fa-thumbs-up" [class.user-like]="userLike(role_comment.commentlikes)"></i> {{ role_comment.likesCount }}</span>
                  <span class="station-comment-estimate station-comment-like" (click)="estimateComment(role_comment, 0, i)"><i class="fas fa-thumbs-down" [class.user-like]="userDislike(role_comment.commentlikes)"></i> {{ role_comment.dislikesCount }}</span>
                </ion-col>
              </ion-row>

              <ion-col size="12" class="separator"></ion-col>

              <div class="replies" *ngFor="let comment_replay of role_comment.replay; let r = index">

                <ion-row class="">
                  <ion-col offset="2">
                    <span class="station-comment-username">{{ comment_replay.username }}</span>
                    <span class="station-comment-time">{{ comment_replay.created_at }}</span>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col offset="2" size="8" class="station-comment-content">
                    <span>{{ comment_replay.comment }}</span>
                  </ion-col>

                  <ion-col size="2" class="station-comment-link">
                    <span class="comment-operations" *ngIf="comment_replay.userToken == token" (click)="presentReplyOperationActionSheet(i, r)"><ion-icon name="more"></ion-icon></span>
                  </ion-col>
                </ion-row>

                <ion-row class="">
                  <ion-col offset="4" size="8" class="station-comment-like">
                    <span class="station-comment-estimate station-comment-like" (click)="estimateReply(i, r, 1)"><i class="fas fa-thumbs-up" [class.user-like]="userLike(comment_replay.commentlikes)"></i> {{ comment_replay.replayLikesCount }}</span>
                    <span class="station-comment-estimate station-comment-like" (click)="estimateReply(i, r, 0)"><i class="fas fa-thumbs-down" [class.user-like]="userDislike(comment_replay.commentlikes)"></i> {{ comment_replay.replayDislikesCount }}</span>
                  </ion-col>
                </ion-row>
              </div>

            </ion-col>

          </ion-item-divider>

          <ion-col size="12" class="new-comment-form">
            <ion-textarea [(ngModel)]="newComment" placeholder="Write comment" class="new-comment-input"></ion-textarea>
            <ion-button expand="block" color="medium" shape="round" type="submit" class="comment-submit-btn" (click)="addComment()">SEND</ion-button>
          </ion-col>

        </ion-row>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
