<ion-header no-shadow no-border>
  <ion-fab vertical="top" horizontal="end" slot="fixed" (click)="closeMapModal()" routerDirection="forward">
    <i class="fas fa-angle-down back-arrow-icon"></i>
  </ion-fab>

  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Nearest workshops</ion-title>
  </ion-toolbar>

  <ion-grid class="map-header">
    <ion-row>
      <ion-col size="12">
        <ion-searchbar class="map-search" debounce="500" showCancelButton placeholder="Search for workshops"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>

  <div #map id="map"></div>

</ion-content>

<ion-footer>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-dropright"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="end">
      <ion-fab-button>
        <ion-icon name="navigate"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="hand"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="refresh-circle"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="alert"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-footer>
