.faq-title{
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}
ion-card-header{
  font-family: 'Raleway', sans-serif;
}
ion-card-content{
  padding: 10px;
  font-family: 'Titillium Web', sans-serif;
}
