<ion-header no-shadow no-border>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">FAQ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid color="primary">
    <ion-row>

      <!--   FIRST Q SECTION   -->

      <ion-col size="12">
        <h4 class="faq-title"><i class="fas fa-quote-left"></i> General Questions</h4>
      </ion-col>

      <ion-col size="12">
        <ion-card>
          <ion-card-header color="primary">
            <ion-card-title>What're our services ?</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            drivix application provides different cars services, it guides you for nearest gas stations, workshops, spare part shop
            and mainly nearest winch drivers.
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header color="danger">
            <ion-card-title>Why to use drivix ? </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            You can use it anywhere, anytime ! Drivix provides all the services you may need on your road trip
            with high performance and immediate help and guides.
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header color="danger">
            <ion-card-title>How can I receive the winch service ? </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            You can check the nearest winch drivers to your location with full information, select and pick up one, and waiting for approval.
            You can track it till he arrive to your car.
          </ion-card-content>
        </ion-card>
        
      </ion-col>

      <!--   SECOND Q SECTION   -->

      <ion-col size="12">
        <h4 class="faq-title"><i class="fas fa-quote-left"></i> Drivix Rules and Policies</h4>
      </ion-col>

      <ion-col size="12">
        <ion-card>
          <ion-card-header color="primary">
            <ion-card-title>What're our services ?</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header color="danger">
            <ion-card-title>Available car services</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header color="danger">
            <ion-card-title>Available car services</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
