<ion-split-pane>

  <ion-menu contentId="content" persistent="true">
    <ion-header no-shadow no-border>
      <ion-toolbar color="secondary">
          <img class="logo" src="../../../assets/images/1.1.png" alt="drivix logo"/>
        <ion-title>CAR SERVICES APPLICATION</ion-title>
        <h5><i class="far fa-user"></i> username: {{ user_name }}</h5>
      </ion-toolbar>
    </ion-header>

    <ion-content>
        <div *ngFor="let p of pages">
          <ion-menu-toggle *ngIf="p.url">
            <!--Parent-->
            <ion-item   [routerLink]="p.url" [class.active-item]="selectedPath === p.url" routerDirection="root">
              <ion-label class="page-label">
                {{ p.title }}
              </ion-label>
            </ion-item>
            <!--Parent-->
          </ion-menu-toggle>
            <!--Children-->
            <ion-item style="font-family: 'Titillium Web', sans-serif;font-size: 15px;color: #828282;" button *ngIf="p.children?.length > 0" (click)="p.open = !p.open" [class.parent-active]="p.open" detail="false">
              <ion-icon slot="start" name="menu" *ngIf="!p.open"></ion-icon>
              <ion-icon slot="start" name="funnel" *ngIf="p.open"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>

            <!-- Children List for clicked Item -->
            <ion-list *ngIf="p.open">
              <ion-menu-toggle>
                <ion-item style="font-family: 'Titillium Web', sans-serif;font-size: 13px;color: #828282;" *ngFor="let sub of p.children" class="sub-item" [routerLink]="sub.url" routerDirection="root"
                          routerLinkActive="active">
                  <ion-icon [name]="sub.icon" slot="start"></ion-icon>
                  <ion-label>
                    {{ sub.title }}
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>
            <!--Children-->
        </div>

        <!--Log out-->
        <ion-item (click)="sign_out()">
          <ion-label class="page-label" color="primary">
            Sign Out <i class="fas fa-sign-out-alt"></i>
          </ion-label>
        </ion-item>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>
