<ion-content padding>
  <img class="logo" src="../../../assets/images/Logo-white.png" alt="drivix logo"/>
  <h2 class="main-subtitle">
    Your safety is always our priority
  </h2>
  <ion-button class="regiter-btn" color="primary" expand="block" fill="clear" routerLink="/register" routerDirection="forward">Get Started</ion-button>
  <a class="login-link" routerLink="/login">Already has an account? Login</a>

  <div class="social-icons">
    <a href=""><i class="fab fa-google-plus-square"></i></a>
    <a href=""><i class="fab fa-facebook-square"></i></a>
    <a href=""><i class="fab fa-twitter-square"></i></a>
  </div>
  

</ion-content>

<ion-footer class="main-footer">
  <ion-toolbar color="--ion-color-light">
    <ion-title class="footer">All Rights Reserved to GP Team 2019.</ion-title>
  </ion-toolbar>
</ion-footer>