ion-title{
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1.5px;
}
.services{
  margin: auto;
  text-align: center;
}

.ConfirmButton {
  color: #fff !important;
  background-color: #000000fa !important;
}
