<ion-header no-shadow no-border>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/members/services"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-menu-button style="display: block !important;"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">SERVICES</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div #map id="map" [style.width]="'100%'" [style.height]="height"></div>
</ion-content>
